/*----------------------------------------------
*
* [Theme Pink Stylesheet]
*
* Theme    : Leverage
* Version  : 2.1
* Author   : Codings
* Support  : codings.dev
* 
----------------------------------------------*/

/*----------------------------------------------

[ALL CONTENTS]

1. Root

----------------------------------------------*/

/*----------------------------------------------
1. Root
----------------------------------------------*/

/* #region Root */

:root {
    
    --primary-color: #fc5130;
    --secondary-color: #E0040B;
    --pug-speech-bubble-bg-color: var(--primary-bg-color-3);
}

/* #endregion Root */